@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #445E4D !important;
}


/* Basic styling for the page */

h1 {
    padding-top: 200px;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    color: #EDE6AA;
   

}

/* Flexbox container */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.container > div {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: #3b3d3b;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.container h2 {
    background: #65825a;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h2 i {
    margin-right: 10px;
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.container p {
    padding: 10px;
    text-align: justify;
}
.container button{
    justify-content: center;
}